<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/mbr-additional.css" type="text/css">
  
  
</head>
<body>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-81" style="background-color: rgb(240, 240, 240);">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="mbr-header__text">&lt; tripBuddy tech stack /&gt;</h2>
            </div>
        </div>
    </div>    
</section>

<section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/one-signal.png"></div>
                    <div class="caption">
                        <div>
                            <h3>One Signal</h3>
                            <p> 
                                Used for sending push notifications from the app. It is free and
                                has an API that we hook into.
                            </p>
                        </div>
                        <p class="group"><a href="https://onesignal.com/apps/ce1988c4-6349-4e76-8c44-44924e9f3ccd" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/pubnub.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Pubnub</h3>
                            <p>
                                Handling real time location updates and also for sending and
                                delivering chat messages in real time 
                            </p>
                        </div>
                        <p class="group"><a href="https://admin.pubnub.com/#/user/245899/account/245899/app/252134/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/twili.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Twilio</h3>
                            <p>
                                Used for sending text messages to our users for verification and 
                                also annoncement of features
                            </p>
                        </div>
                        <p class="group"><a href="https://www.twilio.com/console" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/braintree.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Braintree</h3>
                            <p>
                                For processing payments in the app
                            </p>
                        </div>
                        <p class="group"><a href="https://www.braintreegateway.com/merchants/3mjnst8tzcqk7qpt/home" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/mailgun.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Mailgun</h3>
                            <p> 
                                Used as the backbone for sending emails to our users
                            </p>
                        </div>
                        <p class="group"><a href="https://mailgun.com/app/domains/thetripbuddyapp.com" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/asana.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Asana</h3>
                            <p>
                                We use it for scheduling task and also as a tool
                                for internal weekly broadcast.  
                            </p>
                        </div>
                        <p class="group"><a href="https://app.asana.com/0/16856634451297/calendar" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/project-kilimanjaro.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Project index</h3>
                            <p>
                                The main website that all users visit. AKA our landing page.
                                It is written in node.js Source code for this project
                                is the one for Project Atomic.
                            </p>
                        </div>
                        <p class="group"><a href="http://www.thetripbuddyapp.com/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/parse.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Project Atomic</h3>
                            <p>
                                The parse server that powers the main data store of the app
                            </p>
                        </div>
                        <p class="group"><a href="https://github.com/tawrahim/tripbuddy-parse-server" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/tripbuddyapiserver.png"></div>
                    <div class="caption">
                        <div>
                            <h3>tripbuddyapiserver</h3>
                            <p> 
                                A spring boot based java application that plays
                                the role of the webservice to sit between 3-party services
                                and the app.
                            </p>
                        </div>
                        <p class="group"><a href="https://github.com/tawrahim/tripBuddyServer" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/project-index.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Project kilimanjaro</h3>
                            <p>
                                Dashboard to view the data that is being generated in the app.
                                Fancy UI to our core app data store.
                            </p>
                        </div>
                        <p class="group"><a href="https://github.com/tawrahim/tripBuddy-kilimanjaro" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/jenkins.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Jenkins</h3>
                            <p>
                                For running continious integration test of our code base
                            </p>
                        </div>
                        <p class="group"><a href="https://jenkins-tawrahim.rhcloud.com/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/balsamiq.jpg"></div>
                    <div class="caption">
                        <div>
                            <h3>Balsamiq</h3>
                            <p>
                                Design tool for quickly mocking out designs 
                            </p>
                        </div>
                        <p class="group"><a href="https://tripbuddy.mybalsamiq.com/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
    
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/protoio.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Proto.io</h3>
                            <p>
                                Testing prototypes on real devices
                            </p>
                        </div>
                        <p class="group"><a href="https://tripbuddyinc.proto.io/projects/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>
            <!--<div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/tripbuddyapiserver.png"></div>
                    <div class="caption">
                        <div>
                            <h3>tripbuddyapiserver</h3>
                            <p> 
                                A spring boot based java application that plays
                                the role of the webservice to sit between 3-party services
                                and the app.
                            </p>
                        </div>
                        <p class="group"><a href="https://github.com/tawrahim/tripBuddyServer" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>-->
            <!--<div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/jenkins.png"></div>
                    <div class="caption">
                        <div>
                            <h3>Jenkins</h3>
                            <p>
                                For running continious integration test of our code base
                            </p>
                        </div>
                        <p class="group"><a href="https://jenkins-tawrahim.rhcloud.com/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>-->
            <!--<div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="images/balsamiq.jpg"></div>
                    <div class="caption">
                        <div>
                            <h3>Balsamiq</h3>
                            <p>
                                Design tool for quickly mocking out designs 
                            </p>
                        </div>
                        <p class="group"><a href="https://tripbuddy.mybalsamiq.com/" target="_blank" class="btn btn-default">Launch</a></p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>

</body>
</html>